<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add Custom CSS -->
    <style>
        body {
            background-image: url(/assets/oli-maia-UZXFfJfXSto-unsplash.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .jumbotron {
            background-color: hsla(211, 70%, 67%, 0.646);
            color: #fff;
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="container-fluid">
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  <a class="nav-link" href="#">Contact</a>
                  <a class="nav-link" href="#">Sign up</a>
                  <a class="nav-link" href="/login">Login</a>
                </div>
              </div>
            </div>
          
    </nav>

    <!-- Jumbotron for the Header -->
    <div class="jumbotron text-center">
        <h1>About Us</h1>
        <p>Hai... there</p>
    </div>

    <!-- About Content -->
    <div class="container">
        <h2>Our Story</h2>
        <p>We are a passionate team dedicated to delivering high-quality web solutions to our clients. With years of experience, we've successfully completed numerous projects, from websites to web applications.</p>

        <h2>Our Mission</h2>
        <p>Our mission is to provide innovative and effective web solutions that help businesses grow and succeed in the digital world. We take pride in our commitment to excellence and client satisfaction.</p>
    </div>

    <!-- Add Bootstrap and jQuery JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
